<table class="tabela">
  <thead class="tabela__cabecalho">
    <th class="table__cabecalho__conteudo">Data</th>
    <th class="table__cabecalho__conteudo">Valor</th>
    <th class="table__cabecalho__conteudo">Destino</th>
  </thead>
  <tbody *ngIf="transferencias?.length > 0; else listaVazia">
    <tr class="tabela__linha" *ngFor="let trasferencia of transferencias">
      <td class="tabela__conteudo">{{ trasferencia.data | date: "short" }}</td>
      <td class="tabela__conteudo">{{ trasferencia.valor | currency }}</td>
      <td class="tabela__conteudo">{{ trasferencia.destino }}</td>
    </tr>
  </tbody>
</table>
<ng-template #listaVazia>
  <p>Nenhuma operação cadastrada</p>
</ng-template>
